.inputContainer {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon:hover {
    cursor: pointer;
}

.errorMessage {
    color: red;
}